:root{
    --bg-sect-main:##fff;
    --color-header:#grey;
    --nav-bg-color:rgb(228, 226, 226);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    background-color: var(--bg-sect-main);
 
    /* background-image: url(images/ERP.png); */
}


/***************** START LOGO AND NAVBAR ********************/
.top-header {
    margin: 5px;
    position: relative;
    top: 0;
    left: 0;
    
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:transparent;
    z-index: 1000;
    flex-wrap: wrap;
    
}
/* LEFT SIDE TEXT */

.logo h1 {
    color: var(--color-header);
    font-size: 33px;
    background: transparent;
    
}

.logo p {
    color:var(--color-header);
    font-size: 20px;
}

/* RIGHT SIDE NAV */
nav a {
    color: var(--color-header);
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color: gold;
}

/***************** END LOGO AND NAVBAR ********************/
/***************** START div_main *******************/
.section_Start{
   
    
     text-align: left;
    padding: 10px 10px;
    margin: 3px;
    line-height: 22px;
    font-size: 14px;
    position: relative;
    box-shadow: 1px 2px 15px #48484833;
    background: var(--theme-color);
    overflow: hidden;
    word-break: break-word;
    z-index: 1;
    
}
.card-grid {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 5px;
  width: 100%;
  height: 100%;
    transition: all 0.2s linear;
}
.card {
    background:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: 5px;
    height: 600px;
  /* background-size: 100% 100%; */
  
  transition:all 0.5s ease;
}
.card img{
    width: 80%;
    height: 55%;
    border-radius: 10px;
    overflow: hidden;
}
.card:hover{
      transform:translateY(-50px);  
      transform: translateX(90px);
      transform:scale(1.08);
    /* box-shadow:0 20px 40px rgba(0,0,0,0.25); */
    
}

.card-description{
    padding: 10px 5px;
    margin: 20px;
    background-color: #fff;
    width: 70%;
    height: 310px;
    border-radius: 10px;
    text-align: center ;
    transform: translateY(-80px);
    transition: 0.2s;
}
.card-description p{
    padding: 2px;
}
.client-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:10px;
}

.client-card{
    background:#fff;
    padding:0px 5px;
    text-align: left;
    border-left:2px solid #d4a017;
    border-right:2px solid #d4a017;
    border-radius:5px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
    font-size: 15px;
    font-weight:600;
}
#Visitingcard-image{
    width: 100%;
    height: 300%;
}
/***************** END div_main *******************/
/***************** START Contact ************************/
    .footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 18px;
  margin-top: 20px;
  
}
.footer p{
    font-size: 14   px;
}
/***************** END Contact ************************/

@media (max-width: 1500px) {
  .card-grid  {
    grid-template-columns: 1fr;
    flex-wrap: wrap;
  }

}
